<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>

        <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>

        <link href="{{ asset('css/my-style.css') }}" rel="stylesheet"/>

        <link href="{{ asset('css/post.css') }}" rel="stylesheet"/>

        <link href="{{ asset('css/navbar.css') }}" rel="stylesheet"/>

        <link href="{{ asset('css/components/user-side-panel.css') }}" rel="stylesheet"/>

        <link href="{{ asset('css/components/new-post-form.css') }}" rel="stylesheet"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>


        <link href="{{ asset('css/bootstrap-datetimepicker.css') }}" rel="stylesheet"/>








    </head>

    {% include 'topnav.html.twig' %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>


    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Latest compiled and minified Jquery -->
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

            <script src="{{ asset('js/post.js') }}"></script>

            <script src="{{ asset('js/components/new_post.js') }}"></script>

            {#Moment.js CDN#}
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

            {#DateTimePicker JavaScript#}
            <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>




        {% endblock %}
    </body>
</html>
